@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body,
h1,
div,
main,
p,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #2c2e31;
  background: linear-gradient(180deg, #2c2e31 50%, #f9f9f9 50%);
  color: white;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  padding: 10vh 1rem 0 1rem;
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2rem;
  max-width: 700px;
  margin: auto;
  margin-bottom: 4rem;
}

.user-card {
  width: 100%;
  max-width: 730px;
  min-height: 395px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  color: #999999;
  position: relative;
  border-radius: 3px;
  border-bottom: 1px solid #cdcdcd;
}
.user-card::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  padding-top: 132px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #d4d4d4;
  border-radius: 3px 3px 0 0;
}
.user-card-content {
  position: relative;
  top: 0;
  bottom: 100px;
  width: 100%;
  min-height: 375px;
  padding-top: 20px;
  border-radius: 3px;
}
.user-profile-picture-wrapper {
  width: fit-content;
  margin: auto;
  margin-bottom: 1.9rem;
  border: 1px solid #bfbfbf;
  border-radius: 50%;
}
.user-profile-picture {
  display: block;
  width: 150px;
  height: 150px;
  border: 5px solid white;
  border-radius: 50%;
}
.user-info-description {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.user-info {
  color: #2c2e31;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.user-buttons-wrapper {
  padding-top: 5px;
  width: 100%;
  max-width: 525px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.user-card .sprite-btn {
  height: 48px;
  width: 40px;
  min-width: 40px;
  min-height: 48px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  background-image: url("./assets/card_icons.png");
  background-size: 956% auto;
  background-repeat: no-repeat;
  border: none;
  transition: all 0.3s ease-out;
}

.user-card .sprite-btn:hover {
  cursor: pointer;
}

.user-card .sprite-btn[data-info="name"] {
  background-position-x: 0;
  background-position-y: 100%;
}
.user-card .sprite-btn[data-info="email"] {
  background-position-x: 20%;
  background-position-y: 100%;
}

.user-card .sprite-btn[data-info="birthday"] {
  background-position-x: 40%;
  background-position-y: 100%;
}
.user-card .sprite-btn[data-info="address"] {
  background-position-x: 60%;
  background-position-y: 100%;
}
.user-card .sprite-btn[data-info="number"] {
  background-position-x: 80%;
  background-position-y: 100%;
}
.user-card .sprite-btn[data-info="password"] {
  background-position-x: 100%;
  background-position-y: 100%;
  margin-right: auto;
}
.user-card .sprite-btn.active {
  background-position-y: 0;
}
@media screen and (min-width: 756px) {
  h1 {
    font-size: 3rem;
  }

  .user-info-description {
    font-size: 18px;
  }
  .user-info {
    font-size: 38px;
  }
}
